body {
    background-color: #CFD0CF; 
    font: 42px arial;
    color: #434344;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    text-align: center;
}


h1 {
    font-size: 42px;
    line-height: 47px;
}

.card_wrapper {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-gap: 25px;
}

.one_card {
    width: 130px;
    height: 130px;
    perspective: 600px;
}

.card {
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: relative;   
    cursor: pointer;
    transition: transform 1s;
}

.front {
    background: linear-gradient(45deg,#19668D,#22AB93);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background-color: #fff;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -130px;
}

.opened {
    transform: rotate3D(0, 1, 0, 180deg);
}

.closed {
    transform: rotate3D(0, 1, 0, 0deg);  
}

.paired {
    background-color: #5fd573;
    pointer-events: none;
}

.unpaired {
    background-color: #f2453d
}

.timmer_wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.timmer {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

#minutes {
    display: inline-block;
}


.result_window {
    display: block;
    position: fixed;
    width: 350px;
    height: 188px;
    background-color: #fff;
    text-align: center;
    display: none;
}

.game_result {
    font-size: 48px;
    font-weight: bold;
    margin-top: 30px;
}

.modal_window_button {
    background: linear-gradient(45deg,#19668D,#22AB93);
    color: #fff;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    margin-top: 40px; 
    padding: 0 30px;
    cursor: pointer;
}

.modal_window_button:active {
    box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.5);
}

.block_layer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.game_over {
    display: block;
}

.letter {
    display: inline-block;
}

@keyframes letter_scaling{
    50% {
        transform: translateY(20px) scaleY(1.5);
    }
    100% {
        transform: translateY(0px) scaleY(1);
    }
}